$yellow: #FFEDCD;
$greenLight: #E2F0DF;
$greenMedium: #B0D3CE;
$green: #70908B;
$greenDark: #195557;
$greyLight: #C2CCCA;
$grayLight2: #EAEEEF;
$grey: #C4C4C4;
$grey2: #F8F8F8;
$light: #ffffff;
$white: #FFFEFE;
$black: #000000;
$shadow: #E3E3E3;
$gradient: linear-gradient(0deg, $greenMedium, $yellow);
$gradientButton: linear-gradient(90deg, $greenMedium, $yellow);
